*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

a {
  color: #008357;
  text-decoration: none;
}

body {
  color: #757575;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.01rem;
  background-image: url(../images/body-bg.gif);
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

::-webkit-input-placeholder {
  color: #757575;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #757575;
}

::placeholder {
  color: #757575;
}

.login {
  height: 100vh;
  position: relative;
}
.login--phone {
  text-transform: uppercase;
  display: flex;
  /* justify-content: flex-end; */
  justify-content: space-between;
  align-items: center;
  padding: 8px 30px 8px 30px;
  color: #fff;
}
.header-animation{
  font-size: 13px;
  text-transform: inherit;
  overflow: hidden;
}
@media only screen and (max-width: 37.5em) {
  .login--phone {
    justify-content: center;
  }
}
.login--phone h2 {
  font-size: 18px;
  text-align: right;
  margin: 0;
  font-weight: 400;
  line-height: 1.5em;
}
.login--phone .phone-icon {
  display: flex;
  align-items: center;
}
.login--phone .phone-icon img {
  height: 25px;
  padding-right: 5px;
  position: relative;
  margin-top: -10px;
  margin-left: 3px;
}
.login--phone .phone-icon span {
  font-size: 33px;
  font-weight: bold;
  line-height: 1.6em;
}
.login--bg {
  background: url(../images/skyline.jpg);
  height: 600px;
  background-position: center center;
  background-size: cover;
}
.login--form {
  width: 800px; 
  height: 400px;
  margin-top: 4%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 37.5em) {
  .login--form {
    width: 100%;
    padding: 0px 15px;
  }
}
.login--form__header {
  background: #008357;
  padding: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login--form__header h2 {
  color: #fff;
}
.register--form__body {
  background: #fff;
  padding: 25px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.register--form__body .from-group {
  margin-bottom: 25px;
  position: relative;
}
.register--form__body .from-group label {
  font-size: 13px;
  font-weight: 600;
  display: block;
  padding-bottom: 0px;
}
.register--form__body .from-group input:focus {
  outline: 0;
  border-bottom: 1px solid #c2c2c2;
  font-family: 'Roboto', sans-serif;
}
.register--form__body .from-group .form-control {
  background: #fff;
  border-bottom: 1px solid #c2c2c2;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding: 6px 2px;
  width: 100%;
  color: #4d4d4d;
  font-family: 'Roboto', sans-serif;
}
.register--form__body .form-2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 20px;
}
.register--form__body .form-3 .form-dob {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
}
.register--form__body .form-3 .form-dob select {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #bdbdbd;
  margin-top: 10px;
  color: #8f8787;
  width: 100%;
}
.register--form__body .btn {
  margin: 15px 0;
  width: 100%;
  font-size: 13px;
}
.register--form__body .link-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.register--form__body .link-text a {
  font-size: 14px;
  color: #008357;
  text-decoration: none;
  text-transform: uppercase;
}
.register--form__body .link-text a i img {
  height: 14px;
  padding-right: 5px;
  position: relative;
  top: 1px;
}

.btn {
  background-color: #008357;
  color: #fff;
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1rem 1rem;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  cursor: pointer;

}
.btn:hover {
  background-color: #00b679;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px 0 30px 0;
}
.features .feature a {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  color: #757575;
  font-size: 13px;
  grid-row-gap: 10px;
  line-height: 18px;
}

.footer {
  width: 800px;
  margin: 10px auto 30px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 959px) {
  .footer {
    width: 100%;
    padding: 0 20px;
  }
}
.footer .copyright {
  font-size: 9px;
  grid-column: 1 / span 2;
}
@media (max-width: 700px) {
  .footer .copyright {
    grid-column: 1 / span 5;
    text-align: center;
    margin-bottom: 20px;
  }
}
.footer--links {
  grid-column: span 2;
  text-align: right;
}
@media (max-width: 700px) {
  .footer--links {
    grid-column: 1 / span 5;
    text-align: center;
  }
}
.footer--links a {
  color: #008357;
  text-transform: uppercase;
  display: inline-block;
}
.footer--links a:not(:last-child) {
  border-right: 1px solid #a8a8a8;
  padding: 0px 3px 0 2px;
}
.footer--links a:hover {
  color: #4d4d4d;
}
.green_btn_type{
  background-color: #008357;
  padding: 10px 15px;
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  margin-bottom:20px;
}
.d-flex{
  display: flex;
}
.d-flex.stretch > div{
  align-items: stretch;
}
.mr-5{
  margin-right: 5px !important;
}
.mr-10{
  margin-right: 10px !important;
}
.mr-15{
  margin-right: 15px !important;
}
.w-50{
  width: 50%;
}
.register--form__body .btn img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
}
.from-group input{
  position: relative;
}
.from-group.req::after{
  content: "*";
  position: absolute;
  top: 5px;
  right: 0px;
  font-size: 16px;
  color: red;
}
.img-responsive{
  width: 100%;
}
.h-100{
  height: 100%;
}
.login_text{
  background-image: -moz-linear-gradient( 1deg, rgb(0,25,18) 0%, rgb(12,117,71) 100%);
  background-image: -webkit-linear-gradient( 1deg, rgb(0,25,18) 0%, rgb(12,117,71) 100%);
  background-image: -ms-linear-gradient( 1deg, rgb(0,25,18) 0%, rgb(12,117,71) 100%);
 
  padding: 15px;
  height: 135px;
}
.login_text .quote{
  border-left: 2px solid #fff;
  color: #fff;
  font-weight: 700;
  padding-left: 10px;
  font-size: 13px;
}
.login_text p{
  font-size: 13px;
  color: #fff;
}
img{
  display: inline-block;
  vertical-align: middle;
}
.d-flex.align-items-stretch{
  align-items: stretch;
}
.d-flex.d-flex-column{
  flex-direction: column;
}
.top-header{
  background-color: #0c7748;
}


body .md-inputfield {
  display: block;
  position: relative;
}

body .md-inputfield input:focus~p, body .md-inputfield input.ui-state-filled~p, body .md-inputfield textarea:focus~p, body .md-inputfield textarea.ui-state-filled~p, body .md-inputfield .inputfield-wrapper~p {
  /* hamdy */
  top: -15px;
  font-size: 13px;
  color: #757575;
}

body .md-inputfield p {
  color: #999;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 5px;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}
.register--form__body .from-group p{
  position: absolute;
  font-size: 13px;
}

.lable_p{
  font-size: 14px;
  color: #0c7748;
  font-weight: 600;
}


.footerLogin {
  width: 100% !important;
  padding: 5px 0;
  border-top: 3px solid #0c7748;
  background: white;
  position: absolute;
  bottom: 0;
  height: auto;
}

.footerLogin>div {
  width: 80%;
  margin: 0 auto;
}

.footerLogin .footer-text-left {
  color: #0c7748 !important;
  width: 49%;
  font-size: 12px;
  float: left;
  text-align: center;
  line-height: 1.2em;
}

.footerLogin .footer-text-right {
  width: 50%;
  float: right;
}

.footerLogin .privacy-block>ul>li>a {
  color: #0c7748 !important;
  font-size: 12px
}

@media only screen and (max-width: 35em) {
  .ui-paginator .ui-paginator-pages {
      display: inline-block !important;
  }
}

body .ui-datatable tbody tr.ui-state-highlight .ui-inputfield {
  color: #000;
}

body .ui-state-highlight .ui-icon {
  color: #000;
}

.line-break {
  white-space: pre-line;
}

.mailContent {
  word-break: break-all!important;
}


.footer-nav {
	margin: 0;
	text-transform: uppercase;
	padding: 0;
	font-size: 10px;
	line-height: 1.2em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}


.footer-nav li {
  list-style-type: none;
  padding: 0 10px;
  border-right: solid 1px #ccc;
}

.main-body .footer-nav li {
  float: left;
  border-width: 0;
}

.footer-nav li:last-child {
  border-right-width: 0;
}

.footer-nav li a {
  color: #212121;
}
.footer-text-left > span {
    color: #757575;
}
.footerLogin>div>span {
	margin: 0!important
}

.footerLogin .footer-text-left {
	text-align: left;
	width: 60%!important;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 10px
}

.footerLogin .footer-text-right {
	width: 40%
}

@media only screen and (max-width:640px) {
	.footerLogin .footer-text-right {
		width: 100%
	}
}

@media only screen and (max-width: 667px){
    .top-header{
      justify-content: space-between;
      padding: 10px 10px;
    }
    .top-header img.log {
      width: 150px;
    }
    .top-header h2{
      font-size: 11px !important;
    }
    .phone-icon span{
      font-size: 18px !important;
    }
    .phone-icon img{

      height: 15px !important;
    }
    .login--form > div:first-child{
      display: none;
    }
    .login--form .w-50{
      width: auto;
    }

    .footerLogin .footer-text-left{
      display: none;
    }
  }

/* Internal CSS */

.error {
	color: #ff0000 !important;
	font-size: 12px !important;
	/*margin-top: 5px !important;*/
	display: block;
	font-weight: 400 !important;
	list-style-type: none;
}

.no-error {
	color: #ff0000 !important;
    font-size: 14px !important;
    margin-bottom: 10px !important;
    display: block;
    font-weight: 400 !important;
    list-style-type: none;
    text-align: center !important;
    border-radius: 3px;
    padding: 10px;
    background: #ffe0e0;
}

.reg-success{
	color: #155724 !important;
    font-size: 14px !important;
    margin-bottom: 10px !important;
    display: block;
    font-weight: 400 !important;
    list-style-type: none;
    text-align: center !important;
    border-radius: 3px;
    padding: 10px;
    background: #d4edda;
}
ul {
	list-style-type: none;
}

.custom {
	color: black;
	background-color: #FFF;
}

#id_expiry {
	width: 100%;
	color: black !important;
}

#id_dob_day, #id_dob_month, #id_dob_year {
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 1px solid #bdbdbd;
	margin-top: 10px;
	/* color: black !important; */
}

.card_number, #id_card_number, #id_cpr {
	color: black !important;
}

 


